<h1>Your GIFT Course List</h1>
<div class="row">
  <% if @user.courses.empty? %>
  <div class="text-center"><p>You don't have any GIFT Courses!</p>
  <p><a class="btn btn-success" style="margin: 20px" href="/courses/new" role="button">Add a New Course</a>
  <% else %>
 
  
  
  <% @user.courses.each do |course| %>
    <div class="card" style="width: 15rem; margin: 20px">
        <div class="text-center">
          <div class="card-header" style="padding: 5px"><a href='/courses/<%= course.id %>'><%= course.course_name %></a></div>
        </div>
      </div>
    <% end %>
  <br><br>
  <p><a class="btn btn-success" style="width: 15rem; margin: 20px" href="/courses/new" role="button">Add a New Course</a>
    <br>
  <% end %>
</div>
