<h1>Make Changes to <%= @course.course_name %></h1>
<form method="POST" action="/courses/<%= @course.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="course_name">Course *</label>
    <input type="text" class="form-control" id="course_name" name="course_name" value="<%= @course.course_name %>" required>
  </div>
  <br><br>
    <button type="submit" class="btn btn-primary" style="margin-bottom: 20px">Save Your Changes</button>
</form>