<h1>Add a New Course to your GIFT Course List</h1>
<form method="POST" action="/courses/courses">
  <div class="form-group">
    <label for="course_name">Course Name *</label>
    <input type="text" class="form-control" id="course_name" name="course_name" required>
  </div>
  <br><br>
  <button type="submit" class="btn btn-primary" style="margin-bottom: 20px">Add To Your Course List</button>
</form>
