 <h1>Welcome to the GIFT Course Keeper!</h1>
      <p>GIFT - Generalized Intelligent Framework for Tutoring</p>
      <a class="btn btn-info" href="/login" role="button">Log In</a>
      <a class="btn btn-info" href="/signup" role="button">Sign Up</a>
