
    <h1>GIFT Courses</h1>
      <p>Generalized Intelligent Framework for Tutoring</p>
      <a class="btn btn-info" href="/login" role="button">Log In</a>
      <a class="btn btn-info" href="/signup" role="button">Sign Up</a>
